/* color palette */
:root {
    /* Light mode colors */
    --color-primary: #0079ff;
    --color-secondary: #697c9a;
    --color-tertiary: #4b6a9b;
    --color-heading-light: #2b3442;
    --color-background-light: #f6f8ff;
    --color-surface-light: #fefefe;
    --color-logo-light: #222731;

    /* Dark mode colors */
    --color-text-white: #ffffff;
    --color-heading-dark: #ffffff;
    --color-background-dark: #141d2f;
    --color-surface-dark: #1e2a47;
    --color-logo-dark: #ffffff;
}

/* semantic variables for this project */
:root {
    /*    Fonts */
    --font-size: 13px;


    /*    Borders */
    --border-radius-outter: 15px;
    --border-radius-inner: 10px;

    /* Shadows */
    --box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

    /*    Spacing */
    --padding-container: 30px 24px 80px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--color-background-dark);
        --color-text: var(--color-text-white);
        --color-foreground: var(--color-surface-dark);
        --color-logo: var(--color-logo-dark);
        --color-heading: var(--color-heading-dark);
        --color-date: var(--color-text-white);
    }
}

/* 768px */
@media (min-width: 48em) {
    :root {
        --font-size: 15px;
        --padding-container: 14rem 9.75rem
    }
}

html {
    font-size: 62.5%;
}

body {
    --color-text: var(--color-tertiary);
    --color-background: var(--color-background-light);
    --color-foreground: var(--color-surface-light);
    --color-logo: var(--color-logo-light);
    --color-heading: var(--color-heading-light);
    --color-date: var(--color-secondary);

    min-height: 100vh;
    font-family: "Space Mono", monospace;
    font-size: var(--font-size);
    color: var(--color-text);
    transition: color .5s, background-color .5s;
    line-height: normal;
    background-color: var(--color-background);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (min-width: 90em) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*overflow-y: hidden;*/

    & input {
        color: var(--color-logo-light);
        caret-color: var(--color-primary);
        line-height: 2.5;
    }

    & input::placeholder {
        color: var(--color-tertiary);
    }
}


body:has(main.dark-mode) {
    --color-background: var(--color-background-dark);
    --color-text: var(--color-text-white);
    --color-foreground: var(--color-surface-dark);
    --color-logo: var(--color-logo-dark);
    --color-heading: var(--color-heading-dark);
    --color-date: var(--color-text-white);

    /*background-color: var(--color-background);*/
    /*color: var(--color-text-white);*/

    & input {
        color: var(--color-text-white);

        &::placeholder {
            color: var(--color-text-white);
        }
    }
}
